bcrypt==4.0.1
fastapi
python-dotenv
llama_index
llama_parse
llama-index
llama-index-llms-openai 
llama-index-embeddings-openai 
llama-index-readers-llama-parse
uvicorn
starlette
pydantic
pydantic_core==2.41.5
python-multipart	
motor
pymongo
SQLAlchemy
chromadb
openai 
elevenlabs 
tavily-python 
litellm
typing_inspection
annotated_types
passlib
python-jose[cryptography]
email_validator
llama_cloud_services